*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}
ul li{
    list-style:none;
}
a{
    text-decoration: none;
}

.container{
    height: 100vh;
    display:flex;
    flex-direction:column;
    align-items: center;
    background-color:#F2F2F2 ;
}
.header{
    margin-top:50px;
    text-align: center;
}
.header > h1{
    font-size:40px;
    color:#444;
    font-weight: 400;
    line-height: 45px;
}
.header > h1 > span{
    font-weight: 900;
}
.header > p{
    padding:20px 0; 
    font-size:14px;
}
.header > p > a{
    color:#3E96E3;
}
.header > p > a:hover{
    text-decoration: underline;
}

.main{
    width:920px;
    position:relative;
    border:1px solid #dcdcdc;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow:0px 0px 2px 1px #E9E9E9;
}
.main > .swiper > .images{
    height:400px;
    z-index: 1;
    display: flex;
    transition: all 0.5s;
}
.main > .swiper{
    overflow:hidden;
}
.main>.buttons>ul>li{
    cursor:pointer;
    border-right: 1px solid white;
    
    padding:10px 20px;
}
.main>.buttons>ul>li:nth-child(1){
    border-left: 1px solid white;
}
.main>.buttons>ul>li>img{
    width: 30px;
}
.main>.buttons>ul{
    display: flex;
    align-items: center;
    justify-content: center;
    border-top:1px solid #f2f2f2f2;
    background: rgb(242,242,242);
    background: linear-gradient(180deg, rgba(242,242,242,1) 0%, rgba(248,248,248,1) 20%, rgba(246,246,246,1) 40%, rgba(243,243,243,1) 60%, rgba(237,237,237,1) 80%, rgba(236,236,236,1) 100%);
}

.main>.buttons>ul>li:hover{
    box-shadow: -1px 1px 4px -2px rgba(0,0,0,0.72) inset;
    background-color: #efefef;
    background-image: linear-gradient(135deg, #efefef 5%, #c1bcbc 25%, #bbb2b2 66%, #ffffff 100%);
}
.main>.buttons>ul>.active{
    box-shadow: -1px 1px 4px -2px rgba(0,0,0,0.72) inset;
    background-color: #efefef;
    background-image: linear-gradient(135deg, #efefef 5%, #c1bcbc 25%, #bbb2b2 66%, #ffffff 100%);
}

.main > .swiper >.after{
    position: absolute;
    bottom: 37px;
    left:342px;
    border-width:10px;
    border-color: white transparent transparent transparent;
    border-style: solid;
}
